.header {
  .card {
    margin-top: 0;
    .card-content {
      padding-left: 0;
      padding-right: 0;
      .card-action {
        font-weight: bold;
        padding-left: 0;
        a:nth-child(n + 2) {
          margin-left: 24px;
        }
      }
    }
  }
}
